{# Lien de la désinscription #}
<p>Pour vous désincrire, cliquez sur ce lien <a href="{{absolute_url(path('newsletters_unsubscribe', {id: membre.id, token: membre.validationToken}))}}">{{absolute_url(path('newsletters_unsubscribe', {id: membre.id, token: membre.validationToken}))}}</a></p>
