{% extends 'base-admin.html.twig' %}

{% block title %}{% trans %}back.titles.newUser{% endtrans %}{% endblock %}

{% block body %}
    <a href="{{ path('app_admin_user_index') }}" class="btn btn-dark mb-3 btn-sm">{% trans %} back.ctas.backToList {% endtrans %}</a>
    <h1>{% trans %}back.titles.newUser{% endtrans %}</h1>

    {{ include('admin_user/_form.html.twig') }}

{% endblock %}
